@import "tailwindcss";

/* how to make the warnings go away :( */
@theme {
    --color-text: #e2e1f9;
    --color-textDim: #60647a;
    --color-background: #252739;
    --color-secondary: #1e202f;
    --color-dimBackground: #1b1d2b;
    --color-accent: #c0a1f0;
    --color-accentDim: #503f6b;
    --color-primary: #212334;
    --color-border: #313340;

    /* diff colors for forked pastes */
    --color-diffAdded: #034d1e;
    --color-diffRemoved: #5a1e1e;

    --color-diffWordAdded: #0a6e31;
    --color-diffWordRemoved: #8b2e2e;

    --color-diffAddedGutter: #023d17;
    --color-diffRemovedGutter: #4a1616;

    --color-diffHighlight: #313340;

    /*
    primary: #9893E6
    accent: #8F32CF

    primary: #A49EDF
    accent: #6458D1
    */
}

/* https://tailwindcss.com/docs/adding-custom-styles#adding-base-styles */
@layer components {
    .input-base {
        /* https://tailwindcss.com/docs/functions-and-directives#apply-directive */
        @apply text-text p-2 py-1 bg-dimBackground rounded-md border-2 border-border outline-none;
    }
}

/* https: //www.reddit.com/r/tailwindcss/comments/1iqephx/comment/mo33acp/?utm_source=share&utm_medium=web3x&utm_name=web3xcss&utm_term=1&utm_content=share_button */
@utility no-scrollbar {
    @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

html,
body,
head {
    background-color: var(--color-background);
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
a,
select,
option {
    font-family: 'mono', monospace;
    /* color: var(--color-text); */
}

pre,
pre *,
code,
code *,
span,
span * {
    background: none !important;
}

#testing {
    /* color: #2d2f41; */
    color: #503f6b;

    color: #034d1e;
    color: #5a1e1e;

    color: #0a6e31;
    color: #8b2e2e;

    color: #023d17;
    color: #4a1616;

    color: #313340;
}