@import "tailwindcss";

a {
    /* color: #2d2f41; */
    color: #313340;
}

@theme {
    --color-text: #e2e1f9;
    --color-textDim: #60647a;
    --color-background: #252739;
    --color-secondary: #1e202f;
    --color-accent: #c0a1f0;
    --color-primary: #212334;
    --color-border: #313340;

    /*
    primary: #9893E6
    accent: #8F32CF

    primary: #A49EDF
    accent: #6458D1
    */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'mono', monospace;
    /* color: var(--color-text); */
}